.navbar__links, .navbar__menu {
  display: flex;
  align-items: center;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 767px) {
  .navbar__bars {
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
    color: white;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar__bars {
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
    color: white;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 24px;
  opacity: 0;
}
.navbar__links {
  color: white;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__links:hover {
  color: yellow;
  transition: all 0.3s ease;
}
.navbar #Resume {
  padding: 12px 24px;
  border: 1px yellow solid;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-left: 16px;
}
.navbar #Resume:hover {
  background-color: yellow;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #141414;
  cursor: move;
}

@media screen and (max-width: 767px) {
  .name {
    margin-top: 30px;
    font-size: 0.9rem;
    padding-left: 30px;
    width: 100%;
  }
  .name__container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    padding-bottom: 5px;
  }
  .name__desc {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    letter-spacing: 5px;
  }
  .name__desc2 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 25px;
    letter-spacing: 2px;
  }
  .name span {
    color: yellow;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .name {
    margin-top: 50px;
    font-size: 1rem;
    padding-left: 60px;
    width: 100%;
  }
  .name__container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
  }
  .name__desc {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 45px;
    letter-spacing: 5px;
  }
  .name__desc2 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 55px;
    letter-spacing: 2px;
  }
  .name span {
    color: yellow;
  }
}
@media screen and (min-width: 1024px) {
  .name {
    margin-top: 50px;
    font-size: 1.1rem;
    padding-left: 60px;
    width: 100%;
  }
  .name__container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    padding-bottom: 5px;
  }
  .name__desc {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 45px;
    letter-spacing: 5px;
  }
  .name__desc2 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 55px;
    letter-spacing: 2px;
  }
  .name span {
    color: yellow;
  }
}

@media screen and (max-width: 767px) {
  .title__title {
    padding-left: 5px;
    margin-top: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 3px;
    width: 45%;
    background-color: yellow;
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title__title {
    padding-left: 5px;
    margin-top: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    width: 55%;
    height: 40px;
    background-color: yellow;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .title__title {
    padding-left: 5px;
    margin-top: 25px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    letter-spacing: 3px;
    width: -moz-fit-content;
    width: fit-content;
    height: 40px;
    background-color: yellow;
    margin-left: 60px;
  }
}

@media screen and (max-width: 767px) {
  .Portfolio {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Additional styles for elements inside .What2Do */
  }
  .Portfolio__Portfolio {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .Portfolio__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio__techStack {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio .fa-solid {
    color: white;
    float: right;
    position: relative;
    bottom: 30px;
    right: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .Portfolio {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin: 0 50px;
    /* Additional styles for elements inside .What2Do */
  }
  .Portfolio__Portfolio {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .Portfolio__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio__techStack {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio .fa-solid {
    color: white;
    float: right;
    position: relative;
    bottom: 30px;
    right: 40px;
  }
}
@media screen and (min-width: 1024px) {
  .Portfolio {
    background-color: #1e1e1e;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    margin: 0 50px;
    /* Additional styles for elements inside .What2Do */
  }
  .Portfolio__Portfolio {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .Portfolio__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio__techStack {
    background-color: transparent;
    line-height: 35px;
  }
  .Portfolio .fa-solid {
    color: white;
    float: right;
    position: relative;
    bottom: 30px;
    right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .fristProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 120px;
    color: white;
    width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Additional styles for elements inside .What2Do */
  }
  .fristProject__What2Do {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .fristProject__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .fristProject__techStack {
    background-color: transparent;
    line-height: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fristProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /* Additional styles for elements inside .What2Do */
  }
  .fristProject__What2Do {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .fristProject__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .fristProject__techStack {
    background-color: transparent;
    line-height: 95px;
  }
}
@media screen and (min-width: 1024px) {
  .fristProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    /* Additional styles for elements inside .What2Do */
  }
  .fristProject__What2Do {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .fristProject__desc {
    background-color: transparent;
    line-height: 35px;
  }
  .fristProject__techStack {
    background-color: transparent;
    line-height: 95px;
  }
}

@media screen and (max-width: 767px) {
  .secondProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 145px;
    color: white;
    width: 80%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* Additional styles for elements inside .What2Do */
  }
  .secondProject__CareerPathways {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .secondProject__desc {
    background-color: transparent;
    line-height: 30px;
  }
  .secondProject__techStack {
    background-color: transparent;
    line-height: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .secondProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: auto;
    display: inline-block;
    /* Additional styles for elements inside .What2Do */
  }
  .secondProject__CareerPathways {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .secondProject__desc {
    background-color: transparent;
    line-height: 30px;
  }
  .secondProject__techStack {
    background-color: transparent;
    line-height: 35px;
  }
}
@media screen and (min-width: 1024px) {
  .secondProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    font-size: 1rem;
    padding-left: 20px;
    height: 155px;
    color: white;
    width: 40%;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: auto;
    display: inline-block;
    /* Additional styles for elements inside .What2Do */
  }
  .secondProject__CareerPathways {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
  }
  .secondProject__desc {
    background-color: transparent;
    line-height: 30px;
  }
  .secondProject__techStack {
    background-color: transparent;
    line-height: 35px;
  }
}

.Certificates {
  color: white;
  border: 1px solid yellow;
  height: 50px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  padding: 10px 10px;
  margin-top: 20px;
  margin-bottom: 15px;
}/*# sourceMappingURL=styles.css.map */