.navbar .container-fluid button {
  background-color: white;
}
.navbar .container-fluid .navbar-nav a {
  color: white;
  padding: 0.3em;
  margin: 0.5em;
}
.navbar .container-fluid .navbar-nav a:hover {
  color: yellow;
  border: 1px solid white;
}
.navbar #Resume {
  padding: 12px 24px;
  border: 1px yellow solid;
  outline: none;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  margin-left: 16px;
}
.navbar #Resume:hover {
  background-color: yellow;
  color: black;
  font-weight: bold;
  transition: all 0.3s ease;
}

body {
  background-color: #141414;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  width: auto;
  box-sizing: border-box;
  cursor: move;
  overflow-x: hidden;
}

@media only screen and (max-width: 480px) {
  .intro {
    margin-top: 2px;
    padding-left: 20px;
    width: 100%;
  }
  .intro__container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5em;
    padding-bottom: 15px;
  }
  .intro__desc {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    letter-spacing: 5px;
    font-size: 0.9em;
    padding-bottom: 10px;
  }
  .intro__desc2 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    letter-spacing: 2px;
    font-size: 0.9em;
  }
  .intro span {
    color: yellow;
    letter-spacing: 5px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .intro {
    margin-top: 2px;
    margin-right: 5px;
    padding-left: 15px;
    padding-right: 30px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .intro__container {
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2em;
    padding-bottom: 15px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .intro__desc {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 30px;
    letter-spacing: 5px;
    font-size: 0.9em;
    padding-bottom: 10px;
    width: -moz-fit-content;
    width: fit-content;
  }
  .intro__desc2 {
    color: #808080;
    font-family: "Roboto", sans-serif;
    line-height: 35px;
    letter-spacing: 3px;
    font-size: 0.9em;
  }
  .intro span {
    color: yellow;
    letter-spacing: 6px;
  }
}

@media only screen and (max-width: 480px) {
  .title {
    width: -moz-fit-content;
    width: fit-content;
  }
  .title__title {
    margin-top: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    letter-spacing: 3px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: yellow;
    margin-left: 20px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .title {
    width: -moz-fit-content;
    width: fit-content;
  }
  .title__title {
    margin-top: 30px;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    letter-spacing: 3px;
    width: -moz-fit-content;
    width: fit-content;
    background-color: yellow;
    margin-left: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .Portfolio {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .Portfolio__Portfolio {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .Portfolio__desc {
    background-color: transparent;
    line-height: 30px;
    color: white;
    font-size: 0.9em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .Portfolio__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 0.9em;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .Portfolio {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .Portfolio__Portfolio {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    font-size: 1em;
  }
  .Portfolio__desc {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 1em;
  }
  .Portfolio__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 1em;
  }
  .Portfolio .fa-solid {
    color: white;
    float: right;
    position: relative;
    bottom: 30px;
    right: 40px;
  }
}

@media only screen and (max-width: 480px) {
  .fristProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .fristProject__What2Do {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fristProject__desc {
    background-color: transparent;
    line-height: 45px;
    color: white;
    font-size: 0.9em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .fristProject__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 0.9em;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (max-width: 480px) {
  .secondProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .secondProject__CareerPathways {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
  }
  .secondProject__desc {
    background-color: transparent;
    line-height: 30px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.9em;
    text-align: start;
  }
  .secondProject__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 0.9em;
    width: -moz-fit-content;
    width: fit-content;
  }
}

@media only screen and (max-width: 480px) {
  .thirdProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .thirdProject__Konnext {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .thirdProject__desc {
    background-color: transparent;
    line-height: 30px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
    text-align: start;
  }
  .thirdProject__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 1em;
  }
}

@media only screen and (max-width: 480px) {
  .forthProject {
    background-color: #1e1e1e;
    margin-top: 30px;
    padding: 20px;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .forthProject__Moviez {
    line-height: 45px;
    letter-spacing: 3px;
    background-color: transparent;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .forthProject__desc {
    background-color: transparent;
    line-height: 30px;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
  .forthProject__techStack {
    background-color: transparent;
    line-height: 35px;
    color: white;
    font-size: 1em;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.Certificates {
  color: white;
  border: 1px solid yellow;
  height: 45px;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  padding: 10px 20px 0px 20px;
  margin-top: 40px;
  margin-bottom: 15px;
}/*# sourceMappingURL=styles.css.map */