@import 'navbar';
@import '_media-queries';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #141414;
    cursor: move;
}

// Introduction
.intro {
    width: 100%;
    @include mobile {
        margin-top: 2px;
        padding-left: 20px;
        width: 100%;

        &__container {
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            padding-bottom: 15px;
        }

        &__desc {
            color: #808080;
            font-family: 'Roboto', sans-serif;
            line-height: 35px;
            letter-spacing: 5px;
            font-size: 15px;
            padding-bottom: 10px;
        }

        &__desc2 {
            color: #808080;
            font-family: "Roboto", sans-serif;
            line-height: 35px;
            letter-spacing: 2px;
            font-size: 15px;
        }

        span {
            color: yellow;
            letter-spacing: 5px;
        }
    }
}

.title{
    @include mobile {
        &__title{
            padding: 10px;
            padding-bottom: 35px;
            margin-top: 30px;
            color: black;
            font-family: "Roboto", sans-serif;
            font-size: 20px;
            line-height: 25px;
            letter-spacing: 3px;
            width: fit-content;    
            height: 35px;   
            background-color: yellow;
            margin-left: 20px;
        }
    }
}